@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body
{
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: white;
  color: #292826;
  margin: 0;
}
div.e {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
div.firstThing {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #F9D342;
}
.btn
{
  background-color: #191919; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.btnContainer
{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #292826;
}
a.normal
{
 text-decoration: none;
 color: #F9D342;
 padding: 12px;
 font-size: 25px;
}
a.selected
{
  text-decoration: underline;
  color: #F9D342;
  padding: 12px;
  font-size: 25px;
}
div.images
{
  position: absolute;
  background-color: #292826;
  top: 300px;
  width: 100%;
  height: 300px;
}
div.card {
  display: inline-block;
  width: 175px;
  background-color: #F9D342;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-top: 15px;
  margin-left: 20px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
div.aboutme {
  background-color: #F9D342;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 650px;
}
